.lcontainer-1{
    background-color: rgba(128, 128, 128, 0.734);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lcontainer-2{
    position: relative;
    right: 2vw;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:65vh;
    width:25vw; 
    box-shadow: white;
    border-radius: 7px;
    
}
.l-pic-container{
    background-color: #f8f6f6;
    border-radius: 25px;
    width: 24vw;
    height: 53vh;
    margin-top: 45vh;
    margin-bottom: 45vh;
}
.l-image{
    margin-top: 20px;
    width: 18vw;
    height: 40vh;
}
.lcontainer-3{
    /* background-color: blue; */
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;
    height:9vh;
    
}
.lcontainer-4{
    /* background-color: green; */
    height:75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.lcontainer-5{
    /* background-color: aqua; */
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.forgotpass{
    /* background-color: yellow; */
    height:3vh;
    width:20vw;
    /* display: flex;
    flex-direction: row-reverse; */
}
.pass{
    /* background-color: orange; */
    width:20vw;
    display: flex;
    flex-direction: row-reverse;
    margin:0vh;
}
.lbutton{
    /* background-color: rgba(189, 14, 14, 0.715); */
    background-color: #a03037;
    color: white;
    width: 20vw;
    height: 6vh;
    padding: 1vw;
    /* margin:2vw; */
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-radius: 5px;
}
.lfield{
    width:20vw;
    margin-top: 2vh;
    /* height:8vh; */
}
.lbuttons{
    /* background-color: grey; */
    color: white;
    width: 20vw;
    height: 6vh;
    padding: 1vw;
    /* margin:2vw; */
     /* margin-bottom: 5vh; */
    
    display: flex;
    justify-content: space-around;
}  
#fbbutton{
    background-color: rgb(39, 39, 202);
    color: white;
    border: none;
    width: 9vw;
    height: 6vh;
    padding: 1vw;
    /* margin:2vw; */
    margin-bottom: 5vh;
    border-radius: 5px;
}
#gbutton{
    background-color: gainsboro;
    border: none;
    color: black;
    width: 9vw;
    height: 6vh;
    padding: 1vw;
    /* margin:2vw; */
    margin-bottom: 5vh;
    border-radius: 5px;
}
.orline{
    /* background-color: yellow; */
    margin-bottom: 3h;
}
#lemail{
    height:1.5vh;
    
}
#lpassword{
    height:1.5vh;
}
.login2{
    font-weight: bold;
    font-size: 1.35rem;
}
.signup2{
    font-weight: bold;
    font-size: 1.35rem;
}
.label-1{
    margin-Right: 16vw;
    margin-top: 2vh;
}
.label-2{
    margin-Right: 15vw;
    margin-top: 2vh;
}

@media (min-width:500px) and (max-width:600px){
    .l-pic-container{
        display: none;
    }
}