.parent-container{
    /* background-color: green; */
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    /* background-color: yellow; */
    
}
.label{
    margin-left: 0px;
}
.email{
    /* height: 1vh; */
    width: 18vw;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: 600;
}
.pass{
    font-size: large;
}
.buttondiv{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    height: 10vh;
    /* align-items: center; */
    /* height:5vh;
    width:16vw; */
}
.box{
    /* background-color: aqua; */
    box-shadow: 2px 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 38vh;
    width:23vw;
    
}
.box-1{
    /* background-color: orange; */
    width:100%;
    display: flex; 
    justify-content: center;
}
.tttt, .email, .forgot-button{
    width: 80%;
}
.forgot-button{
    height: 220%;
    background-color: #A03037;
    color: white;
    font-size: 1.1vw;
    border:none;
}
/* .box-2{
    background-color: green; 
    width:18vw;
} */
.box-3{
    /* background-color: blue; */
    margin-top: 3vh;
    height:6vh;
    /* width:18vw; */
    width:100%;
}
.box-4{
    margin-top: 5vh;
    width:100%;

}
.create{
    background-color: #F9F9F8;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-account{
    font-size: large;
    font-weight: 600;
}